@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}
p{
    margin-bottom: 0;
    font-weight: 500;
    color: #12304a;
    line-height: 1.8;
}
header{
    background-size: contain;
    background: #37517E;
    background-image: url(../images/images.png);
    background-repeat: no-repeat;
    background-position: right center;
}
header img{
    width: 150px;
}
.blue{
    background-color: #47B2E4;
    color: #fff;
}

.banner-container{
    padding: 150px 0;
}
.banner-container p{
    color: #fff;
}
header h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.6;
}
header span{
 color: #47b2e4;   
}
header p{
    line-height: 1.7;
    font-weight: 600;
    margin: 30px 0;
}
header.btn{
    font-weight: 500;
}

header a.btn{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
header a.btn i{
    
font-size: 40px;
    
color: #47b2e4;
}

header.btn hover{
    box-shadow: 0 0.0.0 rgba(0, 0, 0, 0.0) !important;
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #09a1e8;
}

.features-section{
    padding: 100px 0;
}
.feature{
    padding: 40px 20px;
}
.feature-padding{
     padding: 0 20px;
}
.feature > i{
    font-size: 40px;
    color: #47b2e4;
}
.feature h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.6;
    color: #12304a;
    margin-bottom: 30px;
    margin-top: 15px;
}
.feature h1 span{
  color: #47b2e4;  
}
.feature h2{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    color: #12304a;
}
.feature p{
    margin-bottom: 0;
    font-weight: 500;
    color: #12304a;
    line-height: 1.8;
    }
.feature a{
    color: #47b2e4;
    font-weight: 600;
    text-decoration: none;
    margin-top: 30px;
    display: block;
    display: flex;
    align-items: center;
}
.feature a i{
    font-size: 30px;
    margin-left: 10px;
    transition: all 0.3s ease;
}
.feature a:hover i{
    margin-left: 20px;
}
.feature.shadow-sm {
    box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.075) !important;
    margin-bottom: 30px;
    background: #fff;
    margin-right: 15px;
}
.about-section{
    background-color: #EAF5FC;
    padding: 100px 0;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: center left;
}
.about-section h1{
    font-size: 33px;
    font-weight: 600;
    line-height: 1.6;
    color: #12304a;
    margin-bottom: 30px;
    margin-top: 15px;
}
.about-section span{
 color: #47b2e4;   
}
.about-section p{
    margin-bottom: 30px;
}
.about-section a{
    padding: 16px 0;
}
.question-section{
    padding: 100px 0;
}
.question-section h1{
     font-size: 31px;
     font-weight: 700;
     line-height: 1.7;
     color: #12304a;
     margin-bottom: 30px;
}
.question-section h1 span{

color: #47b2e4;
}
.question-section ul{}
.question-section ul li{
    margin-bottom: 18px;
    margin-top: 18px;
    line-height: 1.8;
    font-weight: 600;
    color: #12304a;
    cursor: pointer;
}
.question-section ul li[aria-expanded="false"] i{
    
}
.question-section ul li[aria-expanded="true"] i{
    transform: rotate(90deg);
}

.question-section ul li i{
    background: #12304a;
    color: #fff;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 0.3s ease;
}


.large-range-section{
    background-color: #EAF5FC;
    padding: 100px 0;
}
.large-range-section.feature{}
.heading{
    text-align: center;
    padding-bottom: 100px;
}
.heading h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.7;
    color: #12304a;
    margin-bottom: 30px;
}
.heading span{
   color: #47b2e4;  
}
.heading p{
    max-width: 510px;
    margin: auto;
    line-height: 1.9;
}
.solution-section{
    background: #37517E;
    padding: 100px 0;
}

.solution-section .heading h1{
    color: #fff;
}
.solution-section .heading span{
  color: #47b2e4;  
}
.solution-section .heading p{
    color: #fff;
}
.solution-section a{}
.solution-section a i{
    font-size: 40px;
    color: #47b2e4;
}
.solution-section a{}
.solution-section .heading{
    padding-bottom: 0;
}
.members-section{
    background-color: #EAF5FC;
    padding: 100px 0;
}
.members-section h1{
    font-size: 33px;
    font-weight: 600;
    line-height: 1.6;
    color: #12304a;
    margin-bottom: 30px;
    margin-top: 15px;
}
.members-section span{
    
color: #47b2e4;
}
.members-section p{}
.members-section ul{
    margin: 30px 0;
}
.members-section ul li{
}
.members-section ul li h3{
    font-size: 20px;
    font-weight: 600;
    color: #12304a;
    margin-bottom: 30px;
}
.members-section ul li h4{
    font-size: 40px;
    font-weight: 800;
    margin: 30px 0;
    color: #12304a;
}
.members-section ul li:last-child{
    
border-left: 1px solid #00000036;
    
margin-left: 20px;
    
padding-left: 20px;
}

.members-section a{
    border: 2px solid #47b2e4;
    color: #47b2e4;
}
.members-section a i{}